---
title: "Geospatial Evaluation and Observation Lab"
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: rgba(17, 87, 64, 0.5)
  overlay_image: /assets/images/gbworld.png
  actions:
    - label: "Learn More"
      url: "/projects/"
  caption: "Source: [**geoBoundaries**](https://www.geoboundaries.org)"
excerpt: "Building societies of data driven policymakers for a more secure and vibrant world."
intro: 
  - excerpt: "Based out of the [**United State’s oldest public university**](http://www.wm.edu), the geoLab works to create and promote [**vibrant societies of data driven policymakers**](https://geolab.wm.edu/projects/)."
feature_row:
  - image_path: assets/images/gbafrica.png
    alt: "Example image of a project."
    title: "What We Do"
    excerpt: "Learn more about the grand challenges we're working on today."
    url: "/projects/"
    btn_label: "All Projects"
    btn_class: "btn--primary"
  - image_path: /assets/images/glgroup.png
    alt: "Student lab members."
    title: "Who We Are"
    excerpt: "Meet the students, staff and faculty that make the geoLab go."
    url: "/about/"
    btn_label: "Meet Us"
    btn_class: "btn--primary"
  - image_path: /assets/images/poster_session.jpg
    title: "Publications & News"
    excerpt: "Take a look at our most recent publications and features."
    url: "/news/"
    btn_label: "View Articles"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/images/funding.png
    alt: "Partners and Sponsors"
    title: "Partners & Sponsors"
    excerpt: 'Thanks to our partners, sponsors, and the community for making geoLab possible.'
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

<div style="
display: inline-block;
margin-right:5%;
border:rgb(255, 255, 255);
border-radius: 3px;
background: rgb(255, 255, 255) ;
color: #000000;
white-space: nowrap;
width:65%;
height:100%;
font-size:12px;
          ">
<a class="twitter-timeline" href="https://twitter.com/wmicss/timelines/1301249959442874368?ref_src=twsrc%5Etfw" data-chrome="noheader transparent noborders nofooter" data-height=25vh data-border-color="#FFFFFF" data-dnt="true">Highlighted Tweets</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div> <div style="width: 25%; float:right">
<h2 class="archive__item-title">Who's Talking about Us</h2>
<p>A snapshot of groups tweeting about our research.</p>
<a href="/news/" class="btn btn--primary">Read More</a>
</div>
<hr><br />
{% include feature_row id="feature_row4" type="center" %}
