{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}



<div class="{{ include.type | default: 'grid' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    {% if post.imageMask==1 %}
      <div class="u-photo">
        <center><img src="{{ post.avatar | relative_url }}" alt="{{ post.name }}" itemprop="image" class="u-photo" style="max-height:150px; border-radius: 25%;object-fit:cover;"></center>
      </div>
    {% else %}
    {% assign min = 1 %}
    {% assign max = 30 %}
    {% assign diff = max | minus: min %}
    {% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}
    <div class="u-photo">
      <center><img src="/geolabWeb/assets/images/randomImages/{{ randomNumber }}.jpg" alt="{{ post.name }}" itemprop="image" class="u-photo" style="border-radius: 25%;object-fit:cover;"></center>
    </div>
    {% endif %}
    

    <h2 class="archive__item-title no_toc" itemprop="headline">
      {% if post.imageMask==1 %}
        <center><a href="{{ post.url | relative_url }}" rel="permalink">{{ post.name }}</a></center>
      {% else %}
        <center><b style="color:#2f7d95;">{{ post.name }}</b></center>
      {% endif %}
    </h2>
    {% include page__meta.html type=include.type %}
    {% if post.bio %}<center><p class="archive__item-excerpt" itemprop="description">{{ post.bio | markdownify | strip_html | truncate: 160 }}</p></center>{% endif %}
  </article>
</div>
